{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Products Close to Expiration{% endblock title %}

{% block content %}

    <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Products Close to Expiration</div>
        <div class="col-md-4">
            <div style="float:right;">
                <a class="btn ghost-blue" href="{% url 'download-csv' %}">Download CSV</a>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-css">
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="40%">Stock Name</th>
                <th width="20%">Current Stock in Inventory</th>
                <th width="20%">Expiry Date</th>
                <th width="20%">Options</th>
            </tr>
        </thead>

        {% if products %}
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <h4>{{ product.name }}</h4>
                        </td>
                        <td class="align-middle">{{ product.quantity }}</td>
                        <td class="align-middle">{{ product.expiry_date }}</td>
                        <td class="align-middle">
                            <a href="{% url 'edit-stock' product.pk %}" class="btn ghost-button">Edit Details</a>
                            <a href="{% url 'delete-stock' product.pk %}" class="btn ghost-red">Delete Stock</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td colspan="4" style="text-align: center;">No products close to expiration</td>
                </tr>
            </tbody>
        {% endif %}
    </table>

{% endblock content %}
